$font1: "Inter", sans-serif;
$font2: "DM Serif Display", serif;
$font3: "satoshi";
$font4: "Canela";
$font5: "Sofia Pro";
$font6: "Recoleta";

$small_font_size: 16px;
$body_font_size: 20px;
$heading1_size: 75px;
$heading2_size: 42px;
$heading3_size: 32px;
$heading4_size: 24px;

$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$black: 900;

$white: #ffffff;
$white_bg: #fff;
$white_color: #fff;
$primary_color: #5c5b79;
$primary_bg: #5c5b79;
$secondary_color: #161540;
$secondary_bg: #161540;
$heighlight_color: #f23936;
$bg3: #fee6e5;
$bg4: #e9ecea;
$theme_bg1: rgba(242, 57, 54, 0.03);
$solid_bg1: #fff9f9;
$border1: #dddbdb;
$border2: #d9d9d9;
$color1: #18181b;
$color2: #07060b;
$color3: #12141d;
$color4: #09120e;
$color5: #525956;
$color6: #e7edeb;
$color7: #fdc24c;
$color8: #fbfcfe;
$color9: #dcedf3;
$color10: #f3e7dc;
$color11: #e3f3dc;
$color12: #dce0f3;
$color13: #f6f7fa;
$color14: #f5d1a4;
$color15: #e9dcf3;
$color16: #f3dcdc;
$color17: #f3f1dc;
$color18: #e7e8f4;
$color19: #f2f1f9;
$color20: #fee6e5;
$color21: #e9ecea;
$color22: #7977c6;
$color23: #192533;
$color24: #515154;
$color25: #1456da;
$color26: #e7eefb;
$color27: #0f182c;
